<% provide(:title, "Home") %>
<h1>Sample App</h1>

<p> 
	This is the homepage for my sample app for the Ruby on Rails Tutorial. Click here to visit the website to this cool book <a href= "http://www.railstutorial.org/">Ruby on Rails Tutorial</a>. 
</p>






